.formWrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.2);
  }

.noteButton{
    width: 20%;
    height: 60px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #0d5aba;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
}

.noteButton:hover {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    transition: background 0.5s ease;
  }

  input.noteButton:active {
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease;
  }

input {
    border: 0;
    padding: 10px;
    font-size: 0.35em;
  }

.noteInput{
    width: 100%;
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border: 1px solid rbga(0, 0, 0, 0.2);
}

.noteInput:focus{
    background-color: #E4F1FE;
    color: #111;
    transition: 0.2s ease-in;
}